.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/encodings.xml
.idea/compiler.xml
.dubbo/vpp-oms.cache.lock
.dubbo/vpp-oms.cache
.idea/uiDesigner.xml
*.log
*.yaml
*.zip
.idea/*.xml
*.tmp
*.lock
*.cache
*.prefs
*.factorypath
*.classpath
.idea/libraries/
*.class
.rebel.xml.bak

