package  ${cfg.packageName}.businessService.impl;

import ${cfg.packageName}.businessService.${cfg.upperObjectName}BusinessService;
import ${cfg.packageName}.innerService.${cfg.upperObjectName}InnerService;
import ${cfg.packageName}.innerService.businessService.DcpThirdOutParameterBussService;

import org.springframework.stereotype.Service;

import com.common.QueryParam;
import javax.annotation.Resource;
import com.common.PageBean;

import ${cfg.packageName}.dto.${cfg.upperObjectName}Dto;

import java.util.List;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service("${cfg.lowerObjectName}BusinessService")
public class ${cfg.upperObjectName}BusinessServiceImpl implements ${cfg.upperObjectName}BusinessService {

    @Resource
    private ${cfg.upperObjectName}InnerService  ${cfg.lowerObjectName}InnerService;

    @Resource
    private ${cfg.upperObjectName}BussService ${cfg.lowerObjectName}BussService;

    /**
     * @Description 分页条件查询
     * @Date ${date}
     * @Param [param]
     * @return com.common.PageBean<Dto>
     **/
    @Override
    public PageBean<${cfg.upperObjectName}Dto> selectPageByQueryParam(QueryParam param){
        return ${cfg.lowerObjectName}BussService.selectPageByQueryParam(param);
    }

    /**
     * @Description 条件查询
     * @Date ${date}
     * @Param [param]
     * @return List<${cfg.upperObjectName}Dto>
     **/
    @Override
    public List<${cfg.upperObjectName}Dto> selectByQueryParam(QueryParam param) {
        return ${cfg.lowerObjectName}BussService.selectByQueryParam(param);
    }


}


